<launch>
  <arg name="param_file" value="$(find pir2_realsense)/param/pipeline_people_oss.yaml" />
  <arg name="default_rviz" value="$(find vino_launch)/param/rviz/default.rviz" />

  <include file="$(find realsense2_camera)/launch/rs_rgbd.launch">
        <arg name="depth_fps" value="30"/>
  </include>


  <node pkg="dynamic_vino_sample" type="pipeline_with_params"
        name="pipeline_with_params" output="screen">
        <param name="param_file" value="$(arg param_file)" />
        <remap from ="/openvino_toolkit/faces" to = "/ros_openvino_toolkit/face_detection" />
        <remap from ="/openvino_toolkit/emotions" to = "/ros_openvino_toolkit/emotions_recognition" />
        <remap from ="/openvino_toolkit/headposes" to = "/ros_openvino_toolkit/headposes_estimation" />
        <remap from ="/openvino_toolkit/age_genders" to = "/ros_openvino_toolkit/age_genders_Recognition" />
        <remap from ="/openvino_toolkit/images" to = "/ros_openvino_toolkit/image_rviz" />
  </node>
  <node pkg="pir2_realsense" type="cal_xyz_depth" name="pipline_to_cmd" output="screen" />
  <node name="rviz" pkg="rviz" type="rviz" required="true" output="screen">
        <param name="default_rviz" value="$(arg default_rviz)" />
  </node>
</launch>
